<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ackd151.maintenancemeter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TopEndRebuild"></activity>
        <activity android:name=".ValveClearanceCheck" />
        <activity android:name=".ShockOilChange" />
        <activity android:name=".ForkOilChange" />
        <activity android:name=".OilChange" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateMachine" />
        <activity android:name=".MachineHome" />
        <activity android:name=".MaintenanceHome" />
        <activity android:name=".PostRide" />
        <activity android:name=".PreRide" />
    </application>

</manifest>